{% extends 'base.html' %}

{% load static %}

{% comment %} barbershop_app/templates/our_contact.html {% endcomment %}

{% block title %}Наши контакты{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row text-center">
        <h2>Контакты</h2>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A60a077984aed909c1aea74a2440178a2e9a9521d5cac1aac79cae90ddda1c47f&amp;width=100%25&amp;height=480&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="col-md-6 text-center mt-4">
            <div class="mt-4">
                <h3><i class="bi bi-geo-alt text-danger"></i> Адрес:</h3>
                <h3>г. Уфа ул. Кирова д. 1 </h3>
            </div>
            <div class="mt-4">
                <h3><i class="bi bi-telephone text-success"></i> Телефон:</h3>
                <h3>+7 999 888 77 55</h3>
            </div>
            <div class="d-flex align-items-center justify-content-evenly mt-4">
                <div>
                    <h1><a style="color: white;" href="https://instagram.com/" target="_blank">
                        <i class="bi bi-instagram"></i></a>
                    </h1>
                </div>
                <div>
                    <h1><a style="color: white;" href="https://web.telegram.org/" target="_blank">
                        <i class="bi bi-send"></i></a>
                    </h1>
                </div>
                <div>
                    <h1><a style="color: white;" href="https://www.youtube.com/" target="_blank">
                        <i class="bi bi-youtube"></i></a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
