{% extends 'base.html' %}

{% comment %} barbershop_app/templates/thank_you.html {% endcomment %}

{% block title %}Спасибо за запись{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-md-8 text-center mt-4">
      <h2>Спасибо за запись!</h2>
      <p>Мы скоро с вами свяжемся.</p>
    </div>
  </div>
  <div class="row justify-content-center mt-3 w-25 mx-auto">
    <a href="{% url 'barbershop_app:index' %}" class="btn btn-light">На главную</a>
  </div>
{% endblock %}